
.banner-content{
   position: absolute;
   top: 30%;
   left: 15%;
   /* transform: translateX(-50%); */

}
.bg-color{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.banner-content h2{
    color: white;
    font-size: 3rem;
    font-weight: 700;
}

.banner-content h3{
    color: rgb(245, 161, 24);
    font-size: 4.5rem;
    font-weight: 700;
    /* margin: .1rem 0rem; */
}
.banner-content p{
    color: white;
    font-size: 15px;
    font-weight: 400;
}
.banner-content p span{
    color: rgb(245, 67, 24);
}
.bannerButton {
    background-color: #F5A118;
    /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 24px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}


@media screen and (max-width:992px) {
    .banner-content h2{
        font-size: 1.5rem;
    }
    
    .banner-content h3{
        font-size:3rem;
    }
   
}

@media screen and (max-width:767px) {
   
.banner-content h2{
    font-size: 1rem;
}

.banner-content h3{
    font-size: 1.5rem;
}
.banner-content p{
    font-size: 12px;
}
    
}